@use "general" as general;

@media screen and (max-width: 1280px) {
  .devices {
    background: general.$primary-blue;
    .devices__wrap {
      margin: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .devices {
    .devices__wrap {
      padding: 0 15px;
      border: none;
      .devices__description {
        font-size: calc(22 / 16 * 1rem);
      }
    }
  }
}
